@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Fira+Sans:400,500|Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: #E3EBED;
}

.nav {
  background-color: #8faeba;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
  font-size: 26px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    margin: 0 10px;
  }
  & .brand-name {
    font-weight: 500;
  }
}
.hero {
  background-color: #8faeba;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .title {
    margin-bottom: 5px
  }

  & .updated {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & .description {
    max-width: 768px;
    column-count: 2;
    column-gap: 40px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}

.viz {
  height: 350px;
  & svg {
    height: 350px;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2rem;
}

.page {
  width: 100%;
}

.bp3-button-group {
  display: flex !important;
  margin-bottom: 1rem;
  & .bp3-button {
    flex: 1 !important;
    border: 1px solid #8FAEBA;
    border-radius: 0px;
    &.selected {
      background-color: #8FAEBA;
    }
  }
}

.columns.viz-wrapper {
  min-width: 400px;
  & .aside {
    max-width: 300px;
  }
  & .more-info-wrapper {
    margin-bottom: 10px;
  }
  & .more-info {
    font-size: 11px;
  }
  & .source {
    font-size: 11px;
    color: #1b1b1b;
  }
}

.section {
  flex-direction: column;
  padding: 2rem 6rem;

  & h2.title {
    text-align: center;
  }

  & .container {
    flex-direction: row;
    width: 100%;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & .column {
    flex: 1;
  }
}

@media(max-width: 768px) {
  .hero {
    & .description {
      column-count: 1;
    }
  }
  .columns.viz-wrapper {
    & .aside {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
